/* Customer.css */

.id-container {
  width: 50%;
  /* max-width: 500px; */
  margin: 25px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.id-form {
  display: flex;
  flex-direction: row; /* Change to column for better alignment on small screens */
  gap: 20px;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column; /* Change to column for better alignment on small screens */
  width: 100%; /* Change to 100% for full width */
}

.form-label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.form-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%; /* Ensure it takes the full width */
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  align-self: center; /* Center the button */
}

.form-button:hover {
  background-color: #0056b3;
}
