.page{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.emptyPage {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 40px;
    font-size: x-large;
}

.details {
    flex: 1.5;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    
    
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex : 1;
    /* justify-content: center; */
}

.row {
    flex: 1; 
    padding: auto;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.subOrders {
    flex: 1;
    /* margin: auto; */
}